* {
  margin: 0;
  padding: 0;
  font-family: 'FiraCode-Light';
}

@font-face {
  font-family: 'FiraCode-Bold';
  src: url('../fonts/FiraCode-Bold.ttf');
}

@font-face {
  font-family: 'FiraCode-Medium';
  src: url('../fonts/FiraCode-Medium.ttf');
}

@font-face {
  font-family: 'FiraCode-Regular';
  src: url('../fonts/FiraCode-Regular.ttf');
}

@font-face {
  font-family: 'FiraCode-Light';
  src: url('../fonts/FiraCode-Light.ttf');
}

/* https://github.com/electron/electron/issues/2538#issuecomment-133083181 */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input,
button,
textarea,
:focus {
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 99vh;
  background: #282a36;
  color: #f8f8f2;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #44475a;
}

.window-buttons {
  display: flex;
  padding: 6px 0px 0px 15px;
  width: 15%;
}

.minimize-window:hover {
  fill: #ffc26c;
  cursor: pointer;
  transition: 50ms;
}

.close-window:hover {
  fill: #ff0000;
  cursor: pointer;
  transition: 50ms;
}

header {
  height: 25px;
}

.content {
  text-align: center;
}

.input {
  background: #f8f8f2;
  border: 1px solid #f8f8f2;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  width: 70vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.input:focus,
.input:hover {
  box-shadow: 0px 0px 2px 0.1px #f8f8f2;
}
